*{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    display: flex;
    justify-content:space-between;
}
nav > div{
    display: flex;
    padding: 45px 240px 45px 240px;
    gap: 15px;
}
.nav-text{
    color: #FF42A5;
}
.web-name > img{
    width: 85px;
    height: 40px;
}
.web-name > h2{
    font-size: 45px;
    margin: 0 auto;  
    
}
.text-primary{
    color: #3C354F;
    font-size: 18px;
    font-weight: 500; 
    line-height: normal;
    width: 120px;       
}